body{
    background-image: url("./5120x2880_px_Steins_Gate_Steins_Gate_0-1246437.jpg");
}

img{
    max-width: 150px;
    max-height: 150px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}
img:hover{
    background-color: lightgray;
    max-width: 170px;
    max-height: 150px;
}
summary{
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
}
details{
    background: white;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    margin-bottom: 50px;
    
}
details>div{
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.block>span{
    max-width:170px;
    word-break: break-all;
    font-size: 18px;
    font-weight: bold;
}
.block>a{
    font-size: 20px;
    padding: 5px 10px;
    border:1px solid black;
    color: white;
    text-decoration: none;
    background-color: #546de5;
    transition: all 0.5s ease;
}
.block>a:hover{
    cursor: pointer;
    color: black;
    background-color: lightgray;
}
.block{
    width: 190px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
#obj{
    position: fixed;
    text-align: center;
    background: white;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    opacity: 0;
}
#obj2{
    position: fixed;
    text-align: center;
    background: white;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    opacity: 0;
}

@media (max-width: 1024px){
    .block>a{
        font-size: 25px;
    }
    #obj{
        font-size: 30px;
    }
    .block{
        width: 200px;
        height: 230px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
}
