<!DOCTYPE html>
<meta charset="utf-8">
<title>Salieri Stickerboard</title>
<link rel="stylesheet" href="style.css">

<script>
    function copyToClipboard(text){
        var copytext = document.createElement('input')
        text=text.substring(0,text.lastIndexOf('.'))
        var codex=":"+text+":";
        copytext.value = codex;
        document.body.appendChild(copytext)
        copytext.select()
        document.execCommand('copy')
        document.body.removeChild(copytext)
        code.innerHTML=codex
        obj.style.opacity="1"
        setTimeout(function(){obj.style.opacity="0"},700)
    }
</script>

<body>
